Repository BudnikOleksii/track-my-money: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm run lint:fix --

feat: add dialog, select and toast components
  .coderabbit.yaml
  apps/storybook/src/stories/Dialog.stories.tsx
  apps/storybook/src/stories/Select.stories.tsx
  apps/storybook/src/stories/Toast.stories.tsx
  packages/ui/package.json
  packages/ui/src/components/molecules/dialog/Dialog.module.scss
  packages/ui/src/components/molecules/dialog/Dialog.tsx
  packages/ui/src/components/molecules/select/Select.module.scss
  packages/ui/src/components/molecules/select/Select.tsx
  packages/ui/src/components/molecules/toast/Toast.module.scss
  packages/ui/src/components/molecules/toast/Toast.tsx
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix --

fix: select component
  packages/ui/src/components/molecules/select/Select.tsx
Due: pnpm run format, pnpm run lint:fix --

feat: add dialog, select and toast components (#11)
  .coderabbit.yaml
  apps/storybook/src/stories/Dialog.stories.tsx
  apps/storybook/src/stories/Select.stories.tsx
  apps/storybook/src/stories/Toast.stories.tsx
  packages/ui/package.json
  packages/ui/src/components/molecules/dialog/Dialog.module.scss
  packages/ui/src/components/molecules/dialog/Dialog.tsx
  packages/ui/src/components/molecules/select/Select.module.scss
  packages/ui/src/components/molecules/select/Select.tsx
  packages/ui/src/components/molecules/toast/Toast.module.scss
  packages/ui/src/components/molecules/toast/Toast.tsx
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix --

chore: add dependbot config
  .github/dependabot.yml
Due: none

chore: dependabot
  .github/dependabot.yml
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: pnpm run format

fix: dependabot.yml update
  .github/dependabot.yml
Due: none

chore: dependabot (#60)
  .github/dependabot.yml
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: pnpm run format

chore: update dependencies
  apps/api/package.json
  apps/storybook/package.json
  apps/web-poc/package.json
  packages/api-shared/package.json
  packages/database/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/ui/package.json
  packages/ui/src/components/molecules/dialog/Dialog.module.scss
  pnpm-lock.yaml
Due: pnpm run format

chore: update dependencies (#65)
  apps/api/package.json
  apps/storybook/package.json
  apps/web-poc/package.json
  packages/api-shared/package.json
  packages/database/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/ui/package.json
  packages/ui/src/components/molecules/dialog/Dialog.module.scss
  pnpm-lock.yaml
Due: pnpm run format

chore: update dependencies
  apps/api/package.json
  apps/storybook/package.json
  apps/web-poc/package.json
  pnpm-lock.yaml
Due: pnpm run format

chore: update dependencies
  apps/api/package.json
  apps/storybook/package.json
  apps/web-poc/package.json
  packages/api-shared/package.json
  packages/database/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: pnpm run format

chore: update dependencies (#67)
  apps/api/package.json
  apps/storybook/package.json
  apps/web-poc/package.json
  packages/api-shared/package.json
  packages/database/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: pnpm run format

feat: setup nextjs app
  apps/storybook/package.json
  apps/web-tracker/.gitignore
  apps/web-tracker/app/favicon.ico
  apps/web-tracker/app/globals.scss
  apps/web-tracker/app/layout.tsx
  apps/web-tracker/app/page.tsx
  apps/web-tracker/eslint.config.mjs
  apps/web-tracker/next.config.ts
  apps/web-tracker/package.json
  apps/web-tracker/stylelint.config.js
  apps/web-tracker/tsconfig.json
  packages/typescript-config/nextjs.json
  packages/ui/src/styles/_normalize.scss
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix --

fix: ts config
  apps/web-tracker/tsconfig.json
  packages/typescript-config/nextjs.json
Due: pnpm run format

feat: setup nextjs app (#68)
  apps/storybook/package.json
  apps/web-tracker/.gitignore
  apps/web-tracker/app/favicon.ico
  apps/web-tracker/app/globals.scss
  apps/web-tracker/app/layout.tsx
  apps/web-tracker/app/page.tsx
  apps/web-tracker/eslint.config.mjs
  apps/web-tracker/next.config.ts
  apps/web-tracker/package.json
  apps/web-tracker/stylelint.config.js
  apps/web-tracker/tsconfig.json
  packages/ui/src/styles/_normalize.scss
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix --

feat: setup redux
  apps/web-tracker/app/layout.tsx
  apps/web-tracker/app/page.tsx
  apps/web-tracker/app/store/StoreProvider.tsx
  apps/web-tracker/app/store/hooks.ts
  apps/web-tracker/app/store/index.ts
  apps/web-tracker/package.json
  packages/ui/src/styles/tokens/fonts.scss
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix --

feat: setup next-intl
  apps/web-tracker/app/[locale]/layout.tsx
  apps/web-tracker/app/[locale]/page.tsx
  apps/web-tracker/app/constants/http-status-code.ts
  apps/web-tracker/app/i18n/constants/default-locale-code.ts
  apps/web-tracker/app/i18n/constants/i18n-namespace.ts
  apps/web-tracker/app/i18n/constants/locale-code.ts
  apps/web-tracker/app/i18n/constants/localization-messages-file-name-by-namespace.ts
  apps/web-tracker/app/i18n/request.ts
  apps/web-tracker/app/i18n/types/localization-messages.ts
  apps/web-tracker/app/i18n/utils/get-messages-by-locale.ts
  apps/web-tracker/app/i18n/utils/get-translation-message-fallback.ts
  apps/web-tracker/app/i18n/utils/on-translate-error.ts
  apps/web-tracker/app/layout.tsx
  apps/web-tracker/app/navigation/navigation.ts
  apps/web-tracker/app/page.tsx
  apps/web-tracker/app/providers/NextIntlUseClientFallbackProvider.tsx
  apps/web-tracker/app/store/index.ts
  apps/web-tracker/messages/en/all.json
  apps/web-tracker/messages/en/home-page.json
  apps/web-tracker/messages/uk/all.json
  apps/web-tracker/messages/uk/home-page.json
  apps/web-tracker/middleware.ts
  apps/web-tracker/next.config.ts
  apps/web-tracker/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix --

fix: after review
  apps/web-tracker/app/i18n/utils/get-messages-by-locale.ts
  apps/web-tracker/app/store/StoreProvider.tsx
  apps/web-tracker/app/store/index.ts
  apps/web-tracker/middleware.ts
Due: pnpm run format, pnpm run lint:fix --

fix: update types for store
  apps/web-tracker/app/store/StoreProvider.tsx
  apps/web-tracker/app/store/index.ts
  packages/eslint-config/base.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix --

Tracker 13/setup app (#69)
  apps/web-tracker/app/[locale]/layout.tsx
  apps/web-tracker/app/[locale]/page.tsx
  apps/web-tracker/app/constants/http-status-code.ts
  apps/web-tracker/app/i18n/constants/default-locale-code.ts
  apps/web-tracker/app/i18n/constants/i18n-namespace.ts
  apps/web-tracker/app/i18n/constants/locale-code.ts
  apps/web-tracker/app/i18n/constants/localization-messages-file-name-by-namespace.ts
  apps/web-tracker/app/i18n/request.ts
  apps/web-tracker/app/i18n/types/localization-messages.ts
  apps/web-tracker/app/i18n/utils/get-messages-by-locale.ts
  apps/web-tracker/app/i18n/utils/get-translation-message-fallback.ts
  apps/web-tracker/app/i18n/utils/on-translate-error.ts
  apps/web-tracker/app/layout.tsx
  apps/web-tracker/app/navigation/navigation.ts
  apps/web-tracker/app/page.tsx
  apps/web-tracker/app/providers/NextIntlUseClientFallbackProvider.tsx
  apps/web-tracker/app/store/StoreProvider.tsx
  apps/web-tracker/app/store/hooks.ts
  apps/web-tracker/app/store/index.ts
  apps/web-tracker/messages/en/all.json
  apps/web-tracker/messages/en/home-page.json
  apps/web-tracker/messages/uk/all.json
  apps/web-tracker/messages/uk/home-page.json
  apps/web-tracker/middleware.ts
  apps/web-tracker/next.config.ts
  apps/web-tracker/package.json
  packages/eslint-config/base.js
  packages/eslint-config/package.json
  packages/ui/src/styles/tokens/fonts.scss
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix --

feat: setup base auth
  .cursor/rules/css.mdc
  .cursor/rules/jsx.mdc
  apps/web-tracker/app/[locale]/dashboard/page.content.tsx
  apps/web-tracker/app/[locale]/dashboard/page.module.scss
  apps/web-tracker/app/[locale]/dashboard/page.tsx
  apps/web-tracker/app/[locale]/page.tsx
  apps/web-tracker/app/[locale]/sign-in/page.content.tsx
  apps/web-tracker/app/[locale]/sign-in/page.module.scss
  apps/web-tracker/app/[locale]/sign-in/page.tsx
  apps/web-tracker/app/[locale]/sign-up/page.content.tsx
  apps/web-tracker/app/[locale]/sign-up/page.module.scss
  apps/web-tracker/app/[locale]/sign-up/page.tsx
  apps/web-tracker/app/constants/api-routes.ts
  apps/web-tracker/app/constants/http-status-code.ts
  apps/web-tracker/app/i18n/constants/i18n-namespace.ts
  apps/web-tracker/app/i18n/constants/localization-messages-file-name-by-namespace.ts
  apps/web-tracker/app/shared/components/private-route-wrapper.tsx
  apps/web-tracker/app/shared/constants/routes.ts
  apps/web-tracker/app/shared/hooks/use-auth.ts
  apps/web-tracker/app/store/api/auth-api.ts
  apps/web-tracker/app/store/api/base-api.ts
  apps/web-tracker/app/store/index.ts
  apps/web-tracker/app/store/slices/auth-slice.ts
  apps/web-tracker/messages/en/dashboard-page.json
  apps/web-tracker/messages/en/home-page.json
  apps/web-tracker/messages/en/sign-in-page.json
  apps/web-tracker/messages/en/sign-up-page.json
  apps/web-tracker/messages/uk/dashboard-page.json
  apps/web-tracker/messages/uk/home-page.json
  apps/web-tracker/messages/uk/sign-in-page.json
  apps/web-tracker/messages/uk/sign-up-page.json
  apps/web-tracker/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix --

feat: add loader
  apps/web-tracker/app/[locale]/sign-in/page.content.tsx
  apps/web-tracker/app/[locale]/sign-up/page.content.tsx
  apps/web-tracker/app/shared/components/private-route-wrapper.tsx
  packages/ui/src/components/atoms/loader/Loader.module.scss
  packages/ui/src/components/atoms/loader/Loader.tsx
Due: pnpm run format, pnpm run lint:fix --

TRACKER-14/setup base auth (#70)
  .cursor/rules/css.mdc
  .cursor/rules/jsx.mdc
  apps/web-tracker/app/[locale]/dashboard/page.content.tsx
  apps/web-tracker/app/[locale]/dashboard/page.module.scss
  apps/web-tracker/app/[locale]/dashboard/page.tsx
  apps/web-tracker/app/[locale]/page.tsx
  apps/web-tracker/app/[locale]/sign-in/page.content.tsx
  apps/web-tracker/app/[locale]/sign-in/page.module.scss
  apps/web-tracker/app/[locale]/sign-in/page.tsx
  apps/web-tracker/app/[locale]/sign-up/page.content.tsx
  apps/web-tracker/app/[locale]/sign-up/page.module.scss
  apps/web-tracker/app/[locale]/sign-up/page.tsx
  apps/web-tracker/app/constants/api-routes.ts
  apps/web-tracker/app/constants/http-status-code.ts
  apps/web-tracker/app/i18n/constants/i18n-namespace.ts
  apps/web-tracker/app/i18n/constants/localization-messages-file-name-by-namespace.ts
  apps/web-tracker/app/shared/components/private-route-wrapper.tsx
  apps/web-tracker/app/shared/constants/routes.ts
  apps/web-tracker/app/shared/hooks/use-auth.ts
  apps/web-tracker/app/store/api/auth-api.ts
  apps/web-tracker/app/store/api/base-api.ts
  apps/web-tracker/app/store/index.ts
  apps/web-tracker/app/store/slices/auth-slice.ts
  apps/web-tracker/messages/en/dashboard-page.json
  apps/web-tracker/messages/en/home-page.json
  apps/web-tracker/messages/en/sign-in-page.json
  apps/web-tracker/messages/en/sign-up-page.json
  apps/web-tracker/messages/uk/dashboard-page.json
  apps/web-tracker/messages/uk/home-page.json
  apps/web-tracker/messages/uk/sign-in-page.json
  apps/web-tracker/messages/uk/sign-up-page.json
  apps/web-tracker/package.json
  packages/ui/src/components/atoms/loader/Loader.module.scss
  packages/ui/src/components/atoms/loader/Loader.tsx
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix --

fix: intl navigation, move to src folder and add a custom rule to ban next/link usage
  .editorconfig
  apps/web-tracker/eslint.config.mjs
  apps/web-tracker/next.config.ts
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/page.content.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/page.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/page.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/page.content.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/page.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/page.tsx
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/dashboard/page.content.tsx
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/dashboard/page.module.scss
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/dashboard/page.tsx
  apps/web-tracker/src/app/[locale]/layout.tsx
  apps/web-tracker/src/app/[locale]/page.tsx
  apps/web-tracker/src/app/favicon.ico
  apps/web-tracker/src/app/globals.scss
  apps/web-tracker/src/constants/api-routes.ts
  apps/web-tracker/src/constants/http-status-code.ts
  apps/web-tracker/src/i18n/constants/default-locale-code.ts
  apps/web-tracker/src/i18n/constants/i18n-namespace.ts
  apps/web-tracker/src/i18n/constants/locale-code.ts
  apps/web-tracker/src/i18n/constants/localization-messages-file-name-by-namespace.ts
  apps/web-tracker/src/i18n/request.ts
  apps/web-tracker/src/i18n/types/localization-messages.ts
  apps/web-tracker/src/i18n/utils/get-messages-by-locale.ts
  apps/web-tracker/src/i18n/utils/get-translation-message-fallback.ts
  apps/web-tracker/src/i18n/utils/on-translate-error.ts
  apps/web-tracker/src/navigation/navigation.ts
  apps/web-tracker/src/providers/NextIntlUseClientFallbackProvider.tsx
  apps/web-tracker/src/proxy.ts
  apps/web-tracker/src/shared/components/navigation-link/NavigationLink.tsx
  apps/web-tracker/src/shared/components/private-route-wrapper/PrivateRouteWrapper.tsx
  apps/web-tracker/src/shared/constants/routes.ts
  apps/web-tracker/src/shared/hooks/use-auth.ts
  apps/web-tracker/src/store/StoreProvider.tsx
  apps/web-tracker/src/store/api/auth-api.ts
  apps/web-tracker/src/store/api/base-api.ts
  apps/web-tracker/src/store/hooks.ts
  apps/web-tracker/src/store/index.ts
  apps/web-tracker/src/store/slices/auth-slice.ts
Due: pnpm run format, pnpm run lint:fix --

TRACKER-15/intl navigation, move to src folder and add a custom rule to ban next/link usage (#71)
  .editorconfig
  apps/web-tracker/eslint.config.mjs
  apps/web-tracker/next.config.ts
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/page.content.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/page.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/page.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/page.content.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/page.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/page.tsx
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/dashboard/page.content.tsx
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/dashboard/page.module.scss
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/dashboard/page.tsx
  apps/web-tracker/src/app/[locale]/layout.tsx
  apps/web-tracker/src/app/[locale]/page.tsx
  apps/web-tracker/src/app/favicon.ico
  apps/web-tracker/src/app/globals.scss
  apps/web-tracker/src/constants/api-routes.ts
  apps/web-tracker/src/constants/http-status-code.ts
  apps/web-tracker/src/i18n/constants/default-locale-code.ts
  apps/web-tracker/src/i18n/constants/i18n-namespace.ts
  apps/web-tracker/src/i18n/constants/locale-code.ts
  apps/web-tracker/src/i18n/constants/localization-messages-file-name-by-namespace.ts
  apps/web-tracker/src/i18n/request.ts
  apps/web-tracker/src/i18n/types/localization-messages.ts
  apps/web-tracker/src/i18n/utils/get-messages-by-locale.ts
  apps/web-tracker/src/i18n/utils/get-translation-message-fallback.ts
  apps/web-tracker/src/i18n/utils/on-translate-error.ts
  apps/web-tracker/src/navigation/navigation.ts
  apps/web-tracker/src/providers/NextIntlUseClientFallbackProvider.tsx
  apps/web-tracker/src/proxy.ts
  apps/web-tracker/src/shared/components/navigation-link/NavigationLink.tsx
  apps/web-tracker/src/shared/components/private-route-wrapper/PrivateRouteWrapper.tsx
  apps/web-tracker/src/shared/constants/routes.ts
  apps/web-tracker/src/shared/hooks/use-auth.ts
  apps/web-tracker/src/store/StoreProvider.tsx
  apps/web-tracker/src/store/api/auth-api.ts
  apps/web-tracker/src/store/api/base-api.ts
  apps/web-tracker/src/store/hooks.ts
  apps/web-tracker/src/store/index.ts
  apps/web-tracker/src/store/slices/auth-slice.ts
Due: pnpm run format, pnpm run lint:fix --

refactor: split auth layout into components
  apps/web-tracker/eslint.config.mjs
  apps/web-tracker/messages/en/auth-shared.json
  apps/web-tracker/messages/en/sign-in-page.json
  apps/web-tracker/messages/en/sign-up-page.json
  apps/web-tracker/messages/uk/auth-shared.json
  apps/web-tracker/messages/uk/sign-in-page.json
  apps/web-tracker/messages/uk/sign-up-page.json
  apps/web-tracker/package.json
  apps/web-tracker/src/app/[locale]/(auth-layout)/components/auth-form/AuthForm.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/components/auth-form/AuthForm.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/components/email-input/EmailInput.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/components/password-input/PasswordInput.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/layout.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/layout.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/page.content.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/page.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/page.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/sign-in-form/SignInForm.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/sign-in-form/SignInForm.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/sign-in-form/sign-in-form.schema.ts
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/page.content.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/page.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/page.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/sign-up-form/SignUpForm.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/sign-up-form/SignUpForm.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/sign-up-form/sign-up-form.schema.ts
  apps/web-tracker/src/i18n/constants/i18n-namespace.ts
  apps/web-tracker/src/i18n/constants/localization-messages-file-name-by-namespace.ts
  apps/web-tracker/src/shared/components/navigation-link/NavigationLink.tsx
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix --

chore: update type for server components
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/page.content.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/page.content.tsx
Due: pnpm run format, pnpm run lint:fix --

refactor: cleanup auth components
  apps/web-tracker/messages/uk/sign-up-page.json
  apps/web-tracker/src/app/[locale]/(auth-layout)/components/auth-form/AuthForm.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/components/email-input/EmailInput.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/components/password-input/PasswordInput.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/sign-in-form/SignInForm.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/sign-in-form/SignInForm.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/sign-up-form/SignUpForm.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/sign-up-form/SignUpForm.tsx
Due: pnpm run format, pnpm run lint:fix --

refactor: auth components
  apps/web-tracker/src/app/[locale]/(auth-layout)/components/email-input/EmailInput.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/components/password-input/PasswordInput.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/sign-in-form/SignInForm.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/sign-up-form/SignUpForm.tsx
Due: pnpm run format, pnpm run lint:fix --

TRACKER-16/split auth layout into components (#72)
  apps/web-tracker/eslint.config.mjs
  apps/web-tracker/messages/en/auth-shared.json
  apps/web-tracker/messages/en/sign-in-page.json
  apps/web-tracker/messages/en/sign-up-page.json
  apps/web-tracker/messages/uk/auth-shared.json
  apps/web-tracker/messages/uk/sign-in-page.json
  apps/web-tracker/messages/uk/sign-up-page.json
  apps/web-tracker/package.json
  apps/web-tracker/src/app/[locale]/(auth-layout)/components/auth-form/AuthForm.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/components/auth-form/AuthForm.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/components/email-input/EmailInput.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/components/password-input/PasswordInput.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/layout.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/layout.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/page.content.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/page.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/page.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/sign-in-form/SignInForm.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-in/sign-in-form/sign-in-form.schema.ts
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/page.content.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/page.module.scss
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/page.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/sign-up-form/SignUpForm.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/sign-up-form/sign-up-form.schema.ts
  apps/web-tracker/src/i18n/constants/i18n-namespace.ts
  apps/web-tracker/src/i18n/constants/localization-messages-file-name-by-namespace.ts
  apps/web-tracker/src/shared/components/navigation-link/NavigationLink.tsx
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix --

feat: implement categories feature
  .coderabbit.yaml
  apps/api/src/main.ts
  apps/web-tracker/messages/en/all.json
  apps/web-tracker/messages/en/categories-page.json
  apps/web-tracker/messages/uk/all.json
  apps/web-tracker/messages/uk/categories-page.json
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/category-list/CategoryList.module.scss
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/category-list/CategoryList.tsx
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/create-category-form/CreateCategoryForm.module.scss
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/create-category-form/CreateCategoryForm.tsx
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/create-category-form/create-category-form.schema.ts
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/edit-category-form/EditCategoryForm.module.scss
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/edit-category-form/EditCategoryForm.tsx
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/edit-category-form/edit-category-form.schema.ts
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/page.content.tsx
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/page.module.scss
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/page.tsx
  apps/web-tracker/src/constants/api-routes.ts
  apps/web-tracker/src/i18n/constants/i18n-namespace.ts
  apps/web-tracker/src/i18n/constants/localization-messages-file-name-by-namespace.ts
  apps/web-tracker/src/shared/constants/routes.ts
  apps/web-tracker/src/store/api/categories-api.ts
  apps/web-tracker/src/store/index.ts
Due: pnpm run format, pnpm run lint:fix --

refactor: updated api with swagger
  README.md
  apps/api/API_GENERATION.md
  apps/api/openapi.json
  apps/web-tracker/package.json
  apps/web-tracker/src/api/generated/Api.ts
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/create-category-form/CreateCategoryForm.tsx
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/create-category-form/create-category-form.schema.ts
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/edit-category-form/edit-category-form.schema.ts
  apps/web-tracker/tsconfig.node.json
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix --

fix: stylelint
  .husky/pre-push
Due: none

fix: after review
  .husky/pre-push
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/dto/login.dto.ts
  apps/api/src/categories/dto/category-response.dto.ts
  apps/api/src/transactions/transactions.service.ts
Due: pnpm run format, pnpm run lint:fix --

feat: migrated to external api
  .gitignore
  apps/api/openapi.json
  apps/web-tracker/package.json
  apps/web-tracker/scripts/generate-api-types.ts
  apps/web-tracker/src/api/generated/Api.ts
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/sign-up-form/SignUpForm.tsx
  apps/web-tracker/src/app/[locale]/(auth-layout)/sign-up/sign-up-form/sign-up-form.schema.ts
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/category-list/CategoryList.tsx
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/create-category-form/CreateCategoryForm.tsx
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/create-category-form/create-category-form.schema.ts
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/edit-category-form/EditCategoryForm.tsx
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/categories/edit-category-form/edit-category-form.schema.ts
  apps/web-tracker/src/app/[locale]/(cabinet-layout)/dashboard/page.content.tsx
  apps/web-tracker/src/constants/api-routes.ts
  apps/web-tracker/src/constants/transaction-type.ts
  apps/web-tracker/src/store/api/auth-api.ts
  apps/web-tracker/src/store/api/categories-api.ts
  apps/web-tracker/src/store/api/transactions-api.ts
  apps/web-tracker/src/store/index.ts
  apps/web-tracker/src/store/slices/auth-slice.ts
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix --

fix: lock file
  pnpm-lock.yaml
Due: none

Path conditions:
  pnpm run format: (any of: *.{js,ts,tsx}) or (any of: *.{json,md})
  pnpm run lint:fix --: any of: *.{js,ts,tsx}
